<div class="content">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">
            <h1 class="panel-title">تحديث كلمة المرور</h1>
        </div><br>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="send(form.$valid)" name="form" autocomplete="off" novalidate>
                <fieldset>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="input-group" ng-class="{ 'has-success': form.oldpassword.$touched && form.oldpassword.$valid ,
                                 'has-error': form.oldpassword.$touched && form.oldpassword.$invalid }">
                                <span class="input-group-addon">كلمة المرور السابقة</span>
                                <input ng-model="user.oldpassword" autocomplete="off"
                                       class="form-control" name="oldpassword"
                                       placeholder="كلمة المرور" type="password" required>
                            </div>
                            <span ng-show="form.oldpassword.$invalid && form.oldpassword.$touched" class="help-block pull-left">*كلمة المرور مطلوبة</span><br>

                            <div class="input-group" ng-class="{ 'has-success': form.newpassword.$touched && form.newpassword.$valid ,
                                 'has-error': form.newpassword.$touched && form.newpassword.$invalid }">
                                <span class="input-group-addon">كلمة المرور الجديدة</span>
                                <input ng-model="user.newpassword" autocomplete="off"
                                       class="form-control" name="newpassword"
                                       placeholder="كلمة المرور الجديدة" type="password" required>
                            </div>
                            <span ng-show="form.newpassword.$invalid && form.newpassword.$touched" class="help-block pull-left">*كلمة المرور مطلوبة</span><br>

                            <div class="input-group" ng-class="{ 'has-success': form.newpassword2.$touched && form.newpassword2.$valid ,
                                 'has-error': form.newpassword2.$touched && form.newpassword2.$invalid }">
                                <span class="input-group-addon">تأكيد كلمة المرور</span>
                                <input ng-model="user.newpassword2" autocomplete="off"
                                       class="form-control" name="newpassword2"
                                       placeholder="تأكيد كلمة المرور الجديدة" type="password" required>
                            </div>
                            <span ng-show="form.newpassword2.$invalid && form.newpassword2.$touched" class="help-block pull-left">*كلمة المرور مطلوبة</span><br>
                            <span ng-show="(user.newpassword2 !== user.newpassword ) && form.newpassword2.$touched" class="help-block pull-left">*كلمات المرور غير متطابقة</span><br>
                        </div>
                    </div>

                    <br>
                    <div class="btn-block">
                        <div class="col-md-12">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">
                                <button ng-disabled="form.$invalid || (user.newpassword2 !== user.newpassword )"
                                        type="submit" id="button1id" name="button1id" ng-click="Submit()"
                                        ng-class="{ 'btn btn-lg btn-block btn-primary': form.$valid ,
                                 'btn btn-lg btn-block btn-danger': form.$invalid || (user.newpassword2 !== user.newpassword ) }">تحديث
                                </button>
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                                <button ng-click="cancel()" type="reset" id="button2id" name="button2id"
                                        class="btn btn-lg btn-block btn-default ">إلغاء
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>