<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
<div class="text-center">
    <a ui-sref="layout.home" class="logo"><span>Dashbo<span>ard</span></span></a>
</div>
<div class="m-t-40 card-box">
    <div class="text-center">
        <h4 class="text-uppercase font-bold m-b-0">S'identifier</h4>
    </div>
    <div class="panel-body">
        <form class="form-horizontal m-t-20" ng-submit="submit()">

            <div class="form-group ">
                <div class="col-xs-12">
                    <input class="form-control" type="text" required="" placeholder="Username" name="email" ng-model="user.username">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <input class="form-control" type="password" required="" placeholder="Password" name="password" ng-model="user.password">
                </div>
            </div>
            <div ng-if="error" class="alert alert-danger help-block" role="alert" ng-bind="error"></div><br>
            <div class="form-group ">
                <div class="col-xs-12">
                    <div class="checkbox checkbox-custom">
                        <input type="checkbox" id="checkbox" name="remember">
                        <label for="checkbox">
                            Se souvenir de moi
                        </label>
                    </div>

                </div>
            </div>

            <div class="form-group text-center m-t-30">
                <div class="col-xs-12">
                    <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">S'identifier</button>
                </div>
            </div>
        </form>

    </div>
</div>
<!-- end card-box-->

<div class="row">
    <div class="col-sm-12 text-center">
        <p class="text-muted">Vous n'avez pas encore de compte? <a href="page-register.html" class="text-primary m-l-5"><b>S'inscrire</b></a></p>
    </div>
</div>

</div>