<div ui-view="header"></div>
<div ui-view="sidebar"></div>
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
<div ui-view="content"></div>
<div ui-view="footer"></div>
</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
